.container{
    display: flex;
    flex-direction: column;
}
.pergunta{
        margin-top: 70px;
        margin-bottom: 40px;
        margin-left: 95px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bolder;
}

.Alternativa{
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
    margin: 30px;
    margin-left: 100px;
    border-radius: 20px;
    background-color: black;
    color: white;
    text-align: center;
    opacity: 70%;
    

}
